{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hospital Admin</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <script src="{% static "js/app.js" %}" defer></script>
	 {% csrf_token %}
</head>
<body>
<div id="app">
	<div class="error-guard">
		<div class="items">

		</div>
		<div class="items">
			<div>403</div>
			<div>aha! you see! you can be wrong!</div>
			<div>Access Denied! </div>
			<div><a href="/">Go back to the home page </a></div>
		</div>
	</div>
</div>
</body>

</html>